<section id="podcast">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Podcast Bölümlerİ</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="title || description" 
                [(ngModel)]="keyword" (keydown.enter)="search(keyword)">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="search(keyword)">contains</button>
              </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="list-group" id="podcast-list">
                    <a [href]="podcast.url" class="list-group-item list-group-item-action" *ngFor="let podcast of podcasts">
                        <h5 class="list-group-item-heading text-left">
                            <i class="fa fa-fw fa-play"></i> {{podcast.title}} ({{podcast.duration}})</h5>
                        <p class="list-group-item-text"></p>
                    </a>
                </div>
                <!-- TODO: Need to activate later. -->
                <!-- <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>KISA KISA</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="list-group" id="clips-list">
                </div> -->
            </div>
        </div>
    </div>
</section>