<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>BİZ KİMİZ</h2>
                <hr class="star-light">
                <a href="https://github.com/codefiction" class="btn-social btn-outline cf-github">
                    <i class="fa fa-fw fa-github"></i></a>
                <a href="https://fb.me/codefiction" class="btn-social btn-outline cf-facebook">
                    <i class="fa fa-fw fa-facebook"></i></a>
                <a href="https://twitter.com/codefictiontech" class="btn-social btn-outline cf-twitter">
                    <i class="fa fa-fw fa-twitter"></i></a>
                <a href="https://www.youtube.com/codefiction" class="btn-social btn-outline cf-youtube">
                    <i class="fa fa-fw fa-youtube-play"></i></a>
            </div>
        </div>
        <div class="row whoami">
            <div>
                <p class="cf-about-text">
                    Bizler Türkiye'nin çeşitli yerlerinden kopup bu ülkenin ekmeğini yemiş, yazılım geliştirme işini kendimize dert edinmiş kimseleriz. Niyetimiz kimseyi kırmak değildir, eksik gördüğümüz yazılım geliştirme toplulukları alanındaki açığı podcastlerle, efendime
                    söyleyeyim open source projelerle bir nebze olsun doldurmak, ileri gitmektir. Çoğunluğumuz .net ile yazılım geliştirse de dil agnostik olduğumuzu düşünmeyi seviyor, sizin de katılımlarınızı bekliyoruz.</p>
            </div>
        </div>
    </div>
</section>